body{
  background-color: #D4ECF3;
}
.vl {
  border-left: 2px solid black;
  height: 50px;
  display: inline-flex;
  margin-left: 20px; 
}

.container{
  width: 1000px;
  height: 100vh;
  border-radius: 50px;
  background-color: white;
  margin: auto;
}
.logo{
  text-decoration: none;
  Color: black;
  font-size: 60px;
  display: inline-flex;
}
.navBar{
  display: flex;
  width: 75%;
  overflow: none;
  box-sizing: border-box;
  margin: auto;
}
.navBar a .logo{
  text-decoration: none;
  Color: black;
  font-size: 30px;
}

.navLinks{
  display: inline-flex;
  height: 67px;
  text-align: center;
  float: right;
}

.navLinks ul{
  list-style: none;
  display: inline-flex;
  font-size: 20px;
  place-items: center;
}
.navLinks a{
  margin-right: 20px;
  font-size: 28px;
  text-decoration: none;
  color: black;
}