@font-face {
  font-family: "GT Walsheim Pro Bold Regular";
  src: url("./fonts/GT-Walsheim-Pro-Bold-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GT Walsheim Regular";
  src: url("./fonts/GT-Walsheim-Regular.ttf") format("truetype");
}

* {
  font-family: "GT Walsheim Regular";
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
  font-family: "GT Walsheim Regular";
}

li {
  list-style-type: none;
}

ul{
  padding: 0;
}

body{
  background: #D4ECF3;
  width: 100%;
  margin: 0;
}

.loginImage {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 600px;
  z-index: -10;
}

.containerGrid{
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 110px 1fr;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar{
  position: fixed;
  margin: 10px;
  grid-column: 1 / 3;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.navbarPlaceholder{
  margin: 10px;
  grid-column: 1 / 3;
  grid-row: 1;
  display: inline-flex;
  align-items: center;
  height: 105px;
}

.navbar a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-flex;
  padding: 10px
}
.navbar a:hover{
  color: white;
}

.myidLogo{
  margin: 0;
  font-size: 60px;
  padding-right: 20px;
  border-right: 1px solid black;
  cursor: default;
}

.myidLogo span{
  color: #327BF6;
}

.antiHero{
  padding-left: 50px;
  height: 100vh;
  background: white;
  border-radius: 50px 0 0 50px;
  grid-column: 3;
  grid-row: 1 / 3;
}

.antiHero h1{
  margin: 100px;
  font-size: 45px;
  text-align: left;
  width: 75%;
  display: flex;
  align-self: center;
}
.antiHero input[type=email],.antiHero input[type=password]{
  border-width: 0 0 1px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
  height: 30px;
  width: 75%;
  font-size: 24px;
  margin-bottom:40px;
  outline: none;
  padding: 15px 0 15px 0;
}
.antiHeroInputs{
  margin-top: 100px;
  width: auto;
  text-align: center;
  transform: translateY(50%);
  justify-content: space-between;
}
.about{
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: white;
  border-radius: 25px;
  height: auto;
  margin-left: 10px;
  padding: 50px
}
.about img{
  user-select: none;
}
.textBlockLeft{
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  display: flex;
  padding: 50px;
}
.textBlockRight{
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  display: flex;
  padding: 50px;
}
.textBlockLeft img{
  display: flex;
  float: right;
}
.textBlockRight img{
  display: flex;
  float: left;
}
.textBlockBody{
  width: 25vw;
  margin: 10vw;
}
.textBlockBody p{
  font-size: 25px;
  display: inline-flex;
}
.textBlockBody h1{
  font-size: 32px;
  color: #327BF6;
}

.antiHero Button{
  border-radius: 27px;
  width: 75%;
  height: 50px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: #327BF6;
  color: white;
}

.logoutBtn{
  font-size: 20px;
  border-radius: 25px;
  display: inline-flex;
  border: none;
  background-color: #327BF6;
  color: white;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

.logoutBtn a{
  color: white;
  text-decoration: none;
}

.logoutBtn:hover{
  background-color: #327af6af;
}

.dashboardRight{
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: white;
  width: 75vw;
  min-height: 80vh;
  padding: 50px;
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
}

.dashboardRight img{
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-top: 20px;
}
.dashboardID{
  width: 50%;
}

.dashboardID p{
  background-color: rgb(245, 245, 245);
  width: 70%;
  height: 30px;
  font-weight: bold;
}
.dashboardID img{
  width: 100px;
  height: 100px;
}

.IDlist{
  text-align: center;
}
.IDlist li{
  margin-bottom: 20px;
}
.dashboardLeft{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
  width: auto;
  height: auto;
  padding: 50px;
  border-radius: 25px;
}

.dashboardLeft button{
  width: 100%;
}

.IDBtn{
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  border-bottom: 2px solid black;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  user-select: none;
}
.IDBtn:hover{
  background-color: rgb(221, 221, 221);
}

.addNew{
  grid-column: 1/3;
  grid-row: 2;
  background-color: white;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
  align-items: center;
}

.addNew p {
  
  font-size: 50px;
  font-weight: bold;
}

.addNewSelect{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  width: 50%;
  margin-bottom: 20px;
}

.addnewBody{
  display: flex;
}

.newPassport{
  display: flex;
  flex-direction: column;
}
.newPassport form label{
  margin-bottom: 10px;
}
.newPassport input{
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
.newPassport form{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  background-color: #fefefe;
  margin: 0;
  text-align: left;
  align-self: center;
}
.newPassport form select{
  width: 100%;
  margin-bottom: 10px;
}

.newPassport form button{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.newPassport form button:hover{
  background-color: #327af6a4;
}

.newPassport form input[type="file"]::file-selector-button{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.newPassport form input[type="file"]{
  font-size: 15px;
}

.missing{
  grid-column: 2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

/* .col {
  border: 1px solid black;
  padding: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  border-color: #ccc;
}

.desc {
  color: rgb(46, 46, 46);
  font-weight: 500;
} */


/* Icon css */
.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 50px;
  width: 50px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob.red {
  background: rgb(243, 10, 10);
  box-shadow: 0 0 0 0 rgb(243, 10, 10);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(243, 10, 10);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

/* LOADER ANIMATION */
.loader-5 {
	height: 32px;
	width: 32px;
  position: fixed;
  top: 50%;
  right: 50%;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}

.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #84ffff;
}

.dashboardRight.transactions {
  grid-column: 1;
  grid-row: 2;
  background-color: white;
  margin: 1%;
  min-height: 800px;
  width: auto;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.buttonGroup {
  width: 300px;
  display: flex;
  justify-content: space-around;
}