@font-face {
  font-family: "GT Walsheim Pro Bold Regular";
  src: url("./fonts/GT-Walsheim-Pro-Bold-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GT Walsheim Regular";
  src: url("./fonts/GT-Walsheim-Regular.ttf") format("truetype");
}

* {
  font-family: "GT Walsheim Regular";
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
  font-family: "GT Walsheim Pro Bold Regular";
}

li {
  list-style-type: none;
}

ul{
  padding: 0;
}

body{
  background: #D4ECF3 url("./images/LoginPic.png") no-repeat left bottom;
  margin: 0;
  height: 98vh;
}

.containerGrid{
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto 1fr;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0px;
  margin-left: 10px;
}

.navbar{
  position: fixed;
  margin: 10px;
  grid-column: 1 / 3;
  display: inline-flex;
  align-items: center;
}

.navbarPlaceholder{
  margin: 10px;
  grid-column: 1 / 3;
  grid-row: 1;
  display: inline-flex;
  align-items: center;
  height: 105px;
}

.navbar a{
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li{
  display: inline-flex;
  padding: 10px
}
.navbar a:hover{
  color: white;
}

.myidLogo{
  margin: 0;
  font-size: 60px;
  padding-right: 20px;
  border-right: 1px solid black;
  cursor: default;
}

.myidLogo span{
  color: #327BF6;
}

.antiHero{
  padding-left: 50px;
  height: 100vh;
  background: white;
  border-radius: 50px 0 0 50px;
  grid-column: 3;
  grid-row: 1 / 3;
}

.antiHero h1{
  margin: 100px;
  font-size: 45px;
  text-align: left;
  width: 75%;
  display: flex;
  align-self: center;
}
.antiHero input[type=email],.antiHero input[type=password]{
  border-width: 0 0 1px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
  height: 30px;
  width: 75%;
  font-size: 30px;
  margin-bottom:40px;
}
.antiHeroInputs{
  margin-top: 100px;
  width: auto;
  text-align: center;
  transform: translateY(50%);
  justify-content: space-between;
}
.about{
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: white;
  border-radius: 25px;
  height: auto;
  margin-left: 10px;
  padding: 50px
}
.textBlockLeft{
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  display: flex;
  padding: 50px;
}
.textBlockRight{
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  display: flex;
  padding: 50px;
}
.textBlockLeft img{
  display: flex;
  float: right;
}
.textBlockRight img{
  display: flex;
  float: left;
}
.textBlockBody{
  width: 25vw;
  margin: 10vw;
}
.textBlockBody p{
  font-size: 25px;
  display: inline-flex;
}
.textBlockBody h1{
  font-size: 32px;
  color: #327BF6;
}

.antiHero Button{
  border-radius: 27px;
  width: 75%;
  height: 50px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: #327BF6;
  color: white;
}

.logoutBtn{
  font-size: 30px;
  border-radius: 25px;
  display: inline-flex;
  border: none;
  background-color: #327BF6;
  color: white;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.logoutBtn:hover{
  background-color: #327af6af;
}

.dashboardRight{
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: white;
  width: 75vw;
  min-height: 80vh;
  padding: 50px;
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
}

.dashboardRight img{
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-top: 20px;
}
.dashboardID{
  width: 50%;
}

.dashboardID p{
  background-color: rgb(245, 245, 245);
  width: 70%;
  height: 30px;
  font-weight: bold;
}
.dashboardID img{
  width: 100px;
  height: 100px;
}

.IDlist{
  text-align: center;
}
.IDlist li{
  margin-bottom: 20px;
}
.dashboardLeft{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
  width: auto;
  height: auto;
  padding: 50px;
  border-radius: 25px;
}

.addNew{
  grid-column: 1/3;
  grid-row: 2;
  background-color: white;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
  align-items: center;
}

.addNew p {
  
  font-size: 50px;
  font-weight: bold;
}

.addNewSelect{
  text-align: center;
  padding: 20px;
  font-size: 25px;
  width: 50%;
  margin-bottom: 20px;
}

.addnewBody{
  display: flex;
}

.newPassport{
  display: flex;
  flex-direction: column;
}
.newPassport form label{
  margin-bottom: 10px;
}
.newPassport input{
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
.newPassport form{
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  background-color: #fefefe;
  margin: 0;
  text-align: left;
  align-self: center;
}
.newPassport form select{
  width: 100%;
  margin-bottom: 10px;
}

.newPassport form button{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
.newPassport form input[type="file"]::file-selector-button{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.newPassport form input[type="file"]{
  font-size: 15px;
}
/* .col {
  border: 1px solid black;
  padding: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  border-color: #ccc;
}

.desc {
  color: rgb(46, 46, 46);
  font-weight: 500;
} */


/* Spinner css */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
