@font-face {
  font-family: "GT Walsheim Pro Bold Regular";
  src: url("./fonts/GT-Walsheim-Pro-Bold-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GT Walsheim Regular";
  src: url("./fonts/GT-Walsheim-Regular.ttf") format("truetype");
}

* {
  font-family: "GT Walsheim Regular";
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, #root, #app > div {
  height: 100%
}

h1{
  font-family: "GT Walsheim Regular";
}

li {
  list-style-type: none;
}

ul{
  padding: 0;
}

body{
  background: #D4ECF3;
  width: 100%;
  margin: 0;
}

.loginImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 800px;
  z-index: -10;
}

.containerGrid{
  display: grid; 
  grid-template-columns: 0.7fr 1.5fr 1.5fr 0.7fr; 
  grid-template-rows: 10% 1fr 1fr 5% auto; 
  gap: 1em 1em; 
  grid-template-areas: 
    "Navbar Navbar Navbar Navbar"
    "LeftDashboard RightDashboard RightDashboard RightDashboard"
    ". RightDashboard RightDashboard RightDashboard"
    ". . . ."
    ". . . ."
    "Footer Footer Footer Footer"; 
  padding: 1em;
  animation: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.navbar{
  grid-area: Navbar;
  display: flex;
  width: 100%;
  align-items: center;
  user-select: none;
  justify-content: space-between;
  align-items: center;
  animation: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


.navbar a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar li{
  display: inline-flex;
  padding: 10px
}
.navbar a:hover{
  color: white;
}
.navbar .logoutBtn{
  
  margin: 10px;
}

.myidLogo{
  margin: 0;
  font-size: 60px;
  padding-right: 20px;
  border-right: 1px solid black;
  cursor: pointer;
  color: black;
}

.myidLogo span{
  color: #327BF6;
}

.antiHero{
  background: white;
  border-radius: 50px;
  grid-column: 3/5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  grid-row: 2/5;
  padding: 5%;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 500px;
}

.antiHero h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 45px;
  text-align: left;
}
.antiHero input[type=email],.antiHero input[type=password]{
  border-width: 0 0 1px 0;
  border-bottom: 1px solid rgb(87, 87, 87);
  height: 30px;
  width: 100%;
  font-size: 24px;
  margin-bottom:40px;
  outline: none;
  padding: 15px 0 15px 0;
}
.antiHeroInputs{
  width: 90%;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.antiHero Button{
  border-radius: 27px;
  width: 75%;
  height: 50px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: #327BF6;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.antiHero Button:hover{
  opacity: .7;
}
#persist{
  margin-right: 10px;
}


.about{
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.aboutHow{
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: white;
  border-radius: 10px;
  height: auto;
}

.aboutHow .textBlockBody{
  padding: .5rem;
}

.textBlockBody a{
  font-size: 16px;
}

.about a{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  font-size: 36px;
  text-decoration: none;
  color: #327BF6;
  cursor: pointer;
}

.about a:hover{
  color: #327af6a4
}

.about img{
  user-select: none;
}
.textBlockLeft{
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  display: flex;
  padding: 2.5rem;  
  flex-wrap: wrap;

}
.textBlockRight{
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  display: flex;
  padding: 2.5rem;
  flex-wrap: wrap-reverse;
}
.textBlockLeft img{
  width: 100%;
  height: auto;
  max-width: 300px;
  min-width: 150px;
}
.textBlockRight img{
  width: 100%;
  height: auto;
  max-width: 300px;
  min-width: 150px;
}
.textBlockBody{
  max-width: 500px;
  padding: 1.5rem;
}
.textBlockBody p{
  font-size: 16px;
  display: inline-flex;
}
.textBlockBody h1{
  font-size: 25px;
  color: #327BF6;
  margin-bottom: 20px;
  word-break: break-word;
}


.stickyBtn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.logoutBtn{
  font-size: 16px;
  border-radius: 25px;
  display: inline-flex;
  border: none;
  background-color: #327BF6;
  color: white;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logoutBtn.active {
  opacity: .5;
}

.logoutBtn.danger {
  grid-row: 4;
  grid-column: 2/4;
  justify-content: center;
  width: 200px;
  align-self: center;
  margin: auto;
  background-color: rgb(255, 28, 28);
}

.logoutBtn.accept {
  background-color: green;
}

.logoutBtn.decline {
  background-color: rgb(255, 28, 28);
}

.logoutBtn a{
  color: white;
  text-decoration: none;
}

.logoutBtn:hover{
  background-color: #327af6af;
}

.dashboardRight{
  grid-area: RightDashboard;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: auto;
}


.placeholder{
  justify-content: center;
  align-items: center;
  align-self: center;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.dashboardID{
  width: 100%;
  padding-top: 20px;
}

.dashboardID p{
  background-color: rgb(245, 245, 245);
}
.dashboardID img{
  max-width: 200px;
  user-select: none;
  border: 1px solid black;
  padding: 1px;
}

.IDItems{
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.IDlist{
  text-align: center;
}
.IDlist li{
  margin-bottom: 20px;
}
.dashboardLeft{
  grid-area: LeftDashboard;
  background-color: white;
  width: auto;
  height: auto;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboardLeft button{
  width: 100%;
}

.IDBtn{
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 10px;
  cursor: pointer;
  user-select: none;
}
.IDBtn:hover{
  background-color: rgb(221, 221, 221);
}

.addNew{
  grid-column: 2/4;
  grid-row: 2/4;
  background-color: white;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  overflow-y: auto;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.addNew.transactions{
  grid-column: 2/4;
  width: auto;
  max-width: unset;
  padding: 0;
  height: 600px;
}

.addNew p {
  
  font-size: 36px;
  font-weight: bold;
}

.addNewSelect{
  text-align: center;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  cursor: pointer;
}

.addnewBody{
  display: flex;
}

.newPassport{
  display: flex;
  flex-direction: column;
  user-select: none;
}
.newPassport form label{
  margin-bottom: 10px;
}
.newPassport input{
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}
.newPassport form{
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 1em;
  min-width: 100px;
  min-height: 400px;
  background-color: #fefefe;
  margin: 0;
  text-align: left;
  align-self: center;
}
.newPassport form select{
  width: 100%;
  margin-bottom: 10px;
}

.newPassport form .formBtn{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 22px;
  margin-top: 20px;
  cursor: pointer;
}

.newPassport form .formBtn:hover{
  background-color: #327af6a4;
}

.newPassport form input[type="file"]::file-selector-button{
  border: none;
  border-radius: 25px;
  background-color: #327BF6;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.newPassport form input[type="file"]{
  font-size: 15px;
}

.missing{
  grid-column: 2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.backBtn{
  position: sticky;
  display: flex;
}

/* .col {
  border: 1px solid black;
  padding: 20px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.col {
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  border-color: #ccc;
}

.desc {
  color: rgb(46, 46, 46);
  font-weight: 500;
} */


/* Icon css */
.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 50px;
  width: 50px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob-container {
  position: absolute;
  top: 0;
  right: 0;
}

.blob-container.larger {
  position: absolute;
  align-self: center;
  bottom: 50%;
  transform: scale(1.5);
  top: unset;
  right: unset;
}

.blob.red {
  background: rgb(243, 10, 10);
  box-shadow: 0 0 0 0 rgb(243, 10, 10);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(243, 10, 10);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

/* LOADER ANIMATION */
.loader-5 {
	height: 32px;
	width: 32px;
  position: fixed;
  top: 50%;
  right: 50%;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #FFF;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}

.loader-container {
  width: 100%;
  height: 100%;
  z-index: 1000;
  border-radius: 25px;
}

.cardLoader {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  top: 30%;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #327bf6;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dashboardRight.transactions {
  display: unset;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  grid-column: 2/4;
  max-width: unset;
  height: 800px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}

.newIDSent{
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: white;
  border-radius: 25px;
  height: 70vh;
  width: 75vw;
  padding: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.newIDSent h1{
  margin-top: 50px;
}

.transactions-form {
  flex: auto;
}

.form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 15px 0px;
  flex-wrap: wrap;
}

.form-row.licenses {
  border: 0;
}

.form-input {
  text-align: right;
  font-size: 16px;
  width: 200px;
}

.tx-image {
  padding: 40px;
    display: flex;
    justify-content: center;
}
#tx {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: auto;
  transform: scale(.7);
  border: 1px solid black;
}

.publicKey {
  width: 100%;
  word-break: break-word;
  opacity: .6;
}

.back-text {
  position: absolute;
  top: 0;
  padding-top: 15px;
  font-size: 16px;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
}

.footer-container {
  grid-area: Footer;
  justify-content: right;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}

.footer-link {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.footer-link:hover {
  opacity: 0.6;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 85%;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
.bm-item-list button{
  margin: 0;
  margin-top: 20px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: Black;
  font-size: 30px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hamburger{
  display: none;
}
.mobileIDList{
  display: none;
}
.mobileNavbar{
  display: none;
}
.addBtn{
  display: none;
}

@media only screen and (max-width: 1080px){
  .navbar{
    display: none;
  }
  .antiHero{
    grid-column: 1/5;
  }
  .hamburger{
    display: block;
    font-size: 16px;
  }
  .hamburger a{
    font-size: 26px;
    text-decoration: none;
    margin-top: 10px;
    color: black;
  }
  .hamburger h1{
    margin-bottom: 10px;
  }

  .newIDSent img{
    max-width: 125px;
  }
  .newIDSent h1{
    font-size: 26px;
  }
  .dashboardRight{
    grid-column: 1/5;
    grid-row: 3/6;
    padding: 15px;
    padding-bottom: 50px;
  }
  .dashboardLeft{
    display: none;
  }
  .mobileIDList{
    display: block;
    grid-column: 1/5;
    grid-row: 2;
  }
  .mobileIDList select{
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
  }
  .containerGrid{
    grid-template-rows: 10% auto 1fr 5% auto; 
  }
  .mobileNavbar{
    grid-column: 1/5;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  .mobileNavList a{
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  .about{
    grid-column: 1/5;
  }
  .addNew{
    grid-column: 1/5;
    grid-row: 2/6;
  }
  .addNew p{
    font-size: 20px;
  }
  .addBtn{
    font-size: 16px;
    border-radius: 25px;
    display: inline-flex;
    border: none;
    background-color: #327BF6;
    color: white;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    bottom: 120px;
    right: 40px;
  }
}

@media only screen and (max-width: 768px){
}